/* Header bar styling */
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #b3d2ec;
      padding: 10px;
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .logo img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    .navigation {
      display: flex;
      align-items: center;
    }

    .navigation ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .navigation li {
      display: inline-block;
      margin-right: 10px;
    }

    .navigation a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }

    .profile {
      display: flex;
      align-items: center;
    }

    .profile img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    /* Add some basic styling */
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            
        }
        textarea {
             /* width: 100%;*/
             height: 266px;
             width: 700px;
             margin-bottom: 10px;
        }
        button {
            padding: 10px 20px;
            background-color: #4c8baf;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }
        button:hover {
          background-color: #3c698d;
        }
        #summary {
          border: 1px solid #ccc;
          padding: 10px;
          height: 250px;
          width: 690px; 
          resize: vertical;
          overflow: auto;
        }
        .footer {
          background-color: #b3d2ec;
          text-align: center;
          padding: 20px;
          border-top: 2px solid #ccc;
          box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
      }

      .footer-text {
          color: #000;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;

      }
      .Input, .Output {
        display: inline-block;
        vertical-align: top;
    }
   

    .Specificword {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }